.container{
	width: 100%;
}
.primero{
	background: url(../img/background/hero.jpg);
	background-size: cover;
}
.primero h3 ,.primero a,.primero p,.primero h1,.primero button{
	color: white;
}
.primero button{
	opacity: 2;
	background-color: black;
	color: white;
}
.primero button:hover{
	background-color: #1C1C1C;
	color: white;
}
.opacity{
	background-color: #000;
	opacity: 0.8;
}
.medio{
	padding:15%;
}
.ico li{
	display: inline-block;
}
.ico h3 {
	color:white; 
}
.segundo{
	padding: 90px;
}
.tercero{
	padding: 10%;
}
.cuadro {
	padding: 20px;
}
.cuadro li{
	display: inline-block;
}
.tercero{
	padding: 10px;
}
.tercero img{
	width: 100%;
}
.inline{
	display: in
}
.cuarto{
	padding:5%;
}
.quinto{
background: #F2F2F2;
}
.list{
	margin: 20px;
}
.list li{
	display: inline-block;
}
.list a{
	list-style: none;
	background-color:white;
	padding: 10px;
}
.list a:hover{
	background-color:#2ECCFA; ;
}
.imagenes li{
	display: inline-block;
	margin:15px;
	padding: 10px;
}
.boton a {
	background: #1C1C1C;
	color: white;
	margin:30px 0 20px;
}